# This is a basic workflow to help you get started with Actions

# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: 爱奇艺会员打卡

on:
  schedule:
    - cron: "0 16 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Script
      env:
        PHONE: ${{ secrets.PHONE }}
        PASSWORD: ${{ secrets.PASSWORD }}
        TOKEN: ${{ secrets.TOKEN }}
        COOKIE: ${{ secrets.COOKIE }}
        
      run: |
        COOKIE=`echo "${COOKIE}" |sed 's/ //g'`
        if [ ${COOKIE} ];then COOKIE_CMD="-c ${COOKIE}"; fi
        if [ ${TOKEN} ];then TOKEN_CMD="-t $TOKEN"; fi
        python3 action.py ${PHONE} ${PASSWORD} ${TOKEN_CMD} ${COOKIE_CMD}
